In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('train.csv')

In [16]:
df.sample()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
581,582,1,1,"Thayer, Mrs. John Borland (Marian Longstreth M...",female,39.0,1,1,110.8833,C68,C

In [ ]:
df['Cabin']

In [ ]:
df['Embarked']=0

In [23]:
del df['Name']

In [24]:
df

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,0,0,S
1,2,1,1,female,38.0,1,0,0,0,C
2,3,1,3,female,26.0,0,0,0,0,S
3,4,1,1,female,35.0,1,0,0,0,S
4,5,0,3,male,35.0,0,0,0,0,S
5,6,0,3,male,NaN,0,0,0,0,Q
6,7,0,1,male,54.0,0,0,0,0,S
7,8,0,3,male,2.0,3,1,0,0,S
8,9,1,3,female,27.0,0,2,0,0,S
9,10,1,2,female,14.0,1,0,0,0,C
10,11,1,3,female,4.0,1,1,0,0,S
11,12,1,1,female,58.0,0,0,0,0,S
12,13,0,3,male,20.0,0,0,0,0,S
13,14,0,3,male,39.0,1,5,0,0,S
14,15,0,3,female,14.0,0,0,0,0,S
15,16,1,2,female,55.0,0,0,0,0,S
16,17,0,3,male,2.0,4,1,0,0,Q
17,18,1,2,male,NaN,0,0,0,0,S
18,19,0,3,female,31.0,1,0,0,0,S
19,20,1,3,female,NaN,0,0,0,0,C
20,21,0,2,male,35.0,0,0,0,0,S
21,22,1,2,male,34.0,0,0,0,0,S
22,23,1,3,female,15.0,0,0,0,0,Q
23,24,1,1,male,28.0,0,0,0,0,S
24,25,0,3,female,8.0,3,1,0,0,S
25,26,1,3,female,38.0,1,5,0,0,S
26,27,0,3,male,NaN,0,0,0,0,C
27,28,0,1,male,19.0,3,2,0,0,S
28,29,1,3,female,NaN,0,0,0,0,Q
29,30,0,3,male,NaN,0,0,0,0,S
...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,male,21.0,1,0,0,0,S
862,863,1,1,female,48.0,0,0,0,0,S
863,864,0,3,female,NaN,8,2,0,0,S
864,865,0,2,male,24.0,0,0,0,0,S
865,866,1,2,female,42.0,0,0,0,0,S
866,867,1,2,female,27.0,1,0,0,0,C
867,868,0,1,male,31.0,0,0,0,0,S
868,869,0,3,male,NaN,0,0,0,0,S
869,870,1,3,male,4.0,1,1,0,0,S
870,871,0,3,male,26.0,0,0,0,0,S
871,872,1,1,female,47.0,1,1,0,0,S
872,873,0,1,male,33.0,0,0,0,0,S
873,874,0,3,male,47.0,0,0,0,0,S
874,875,1,2,female,28.0,1,0,0,0,C
875,876,1,3,female,15.0,0,0,0,0,C
876,877,0,3,male,20.0,0,0,0,0,S
877,878,0,3,male,19.0,0,0,0,0,S
878,879,0,3,male,NaN,0,0,0,0,S
879,880,1,1,female,56.0,0,1,0,0,C
880,881,1,2,female,25.0,0,1,0,0,S
881,882,0,3,male,33.0,0,0,0,0,S
882,883,0,3,female,22.0,0,0,0,0,S
883,884,0,2,male,28.0,0,0,0,0,S
884,885,0,3,male,25.0,0,0,0,0,S
885,886,0,3,female,39.0,0,5,0,0,Q
886,887,0,2,male,27.0,0,0,0,0,S
887,888,1,1,female,19.0,0,0,0,0,S
888,889,0,3,female,NaN,1,2,0,0,S
889,890,1,1,male,26.0,0,0,0,0,C
890,891,0,3,male,32.0,0,0,0,0,Q